* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/* --- GRID SETUP ---- */
.grid_1 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  place-items: center;
  padding-block: 5%;
}

.sunglass_grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.7rem;
  place-items: center;
  padding-block: 2%;
}

.got_kicks_grid {
  grid-template-columns: 1fr;
  text-align: center;
}

.got_kicks_text {
  margin: 0 5% 2% 5%;
  font-size: 1rem;
}

.got_kicks_grid img {
  width: 100%;
  height: auto;
}

.colorful_moments {
  margin: 5% 0 10% 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.3rem;
}

footer p {
  color: var(--brown);
}

.lottie {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Responsive styles for desk*/
@media (min-width: 768px) {
  .got_kicks_grid {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 1rem;
    place-items: center;
    margin-bottom: 8%;
  }

  .got_kicks_text {
    margin: 0 10% 0 20%;
    text-align: left;
  }

  h1 {
    font-size: 5rem;
  }
}

@media (min-width: 908px) {
  h1 {
    font-size: 5.5rem;
  }
}
