/* -----MAIN COLOR PALETTE------ */

html {
  --brown: #7f343e;
  --backgroundcolor: #f8e6d2;
  --orange: #e37b55;
  --purple: #997bb2;
  --white: #f5f5f5;
}

/* ----- FONTS ------- */

/* Open Sans */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

@font-face {
  font-family: "BroadwayFlat";
  src: url("/fonts/broadwayflat-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HighriseDemo";
  src: url("/fonts/highrisefont-demo-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Kelvinized";
  src: url("/fonts/kelvinized-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.BroadwayFlat {
  font-family: "BroadwayFlat";
}

.HighriseDemo {
  font-family: "HighriseDemo";
}

.Kelvinized {
  font-family: "Kelvinized";
}

/* ----- BASIC CSS ------ */

h1,
h2,
h3 {
  color: var(--brown);
  font-family: "BroadwayFlat";
}

p {
  color: var(--brown);
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: var(--backgroundcolor);
}

/* ----- COLORS DEFINED AS CLASSES ----- */

.white {
  color: var(--white);
}
.brown {
  color: var(--brown);
}
.orange {
  color: var(--orange);
}
.purple {
  color: var(--purple);
}

/* FOOTER  */

.grid_1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 35px;
}

footer {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding-bottom: 3rem;
  font-size: smaller;
}

footer p {
  color: var(--white);
  font-family: HighriseDemo;
}

/* DESKTOP  */
@media (min-width: 768px) {
  footer p {
    font-size: x-large;
  }
}
